.code {
  padding: 20px;
  background-color: rgb(92,184,92,0.5);
  border-radius: 20px;
  position: relative;
}

.code a {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #5CB85C !important;
}

.json-code .key {
  color: red;
}

.json-code .string{
  color: green;
}