.firebaserc
.DS_Store
.sass-cache
build
.firebaserc
.*swp
node_modules
.jekyll-metadata
firebase-debug.log
vendor/

# Dart ignores.
.packages
.pub/
pubspec.lock
packages
example/*.dart

.idea/
_site/*
.vscode/*
