<header class="site-header">
  <div class="container-fluid header-contents">
    <div class="row">
      <div class="col-md-12">
        <i class="fa fa-bars" id="sidebar-toggle-button" aria-hidden="true" style="display:none"></i>
        <img src="{{ "images/icon.png"  | relative_url }}" alt="Das Keyboard Logo" width="24" height="32" style="vertical-align:middle">

        <a class="site-title" href="{{ "/"  | relative_url }}">{{ site.title }}</a>

        <nav class="site-nav">
          <a href="#" class="menu-icon">
            <i class="material-icons-extended">more_vert</i>
          </a>
          <div class="trigger">
            <a class="page-link" href="{{ "docs/"  | relative_url }}">Docs</a>
            <a class="page-link" href="https://github.com/DasKeyboard/DasKeyboard.github.io">GitHub</a>
            <a class="page-link" href="https://daskeyboard.mojohelpdesk.com/">Support</a>
            <!-- Waiting for Q cloud side to redirect after login -->
            <!-- Waiting for Q cloud side to redirect after login -->
            <!-- Waiting for Q cloud side to redirect after login -->
            <!-- <a class="page-link" id="login-link" href="https://q.daskeyboard.com/signin">Login</a> -->
          </div>
        </nav>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</header>
