<ul id="mysidebar" class="nav">

  <li class="sidebar-title">Get started</li>
  <ul class="sidebar-items">
    <li><a href="{{ "get-started/download/"  | relative_url }}">1: Download</a></li>
    <li><a href="{{ "get-started/welcome-video/"  | relative_url }}">2: Watch Welcome video</a></li>
    <li><a href="{{ "get-started/ifttt-tutorial/"  | relative_url }}">3: Watch IFTTT tutorial</a></li>
    <li><a href="{{ "get-started/zapier-tutorial/"  | relative_url }}">4: Watch Zapier tutorial</a></li>
  </ul>

  <li class="sidebar-title">Q Developer API</li>
  <ul class="sidebar-items">
    <li><a href="{{ "q-api-quick-start/"  | relative_url }}">Quick start</a></li>
    <li><a href="{{ "q-api-doc/"  | relative_url }}">Full documentation</a></li>
    <li><a href="{{ "contributed-links/"  | relative_url }}">Community contributions</a></li>
    <li><a href="{{ "script-examples/"  | relative_url }}">API examples</a></li>
    <li><a href="https://qforum.daskeyboard.com">Developer forum</a></li>
  </ul>

  <li class="sidebar-title">Q software updates</li>
  <ul class="sidebar-items">
    <li><a href="{{ "updates/changelog"  | relative_url }}">Changelog</a></li>
  </ul>
</ul>
