<ul id="mysidebar" class="nav">

  <li class="sidebar-title">Get started</li>
  <ul class="sidebar-items">
    <li><a href="{{ "get-started/download/"  | relative_url }}">1: Download</a></li>
    <li><a href="{{ "get-started/welcome-video/"  | relative_url }}">2: Watch Welcome video</a></li>
    <li><a href="{{ "get-started/ifttt-tutorial/"  | relative_url }}">3: Watch IFTTT tutorial</a></li>
    <li><a href="{{ "get-started/zapier-tutorial/"  | relative_url }}">4: Watch Zapier tutorial</a></li>
  </ul>

  <li class="sidebar-title">Q Developer API</li>
  <ul class="sidebar-items">
    <li><a href="{{ "q-api-quick-start/"  | relative_url }}">Quick start</a></li>
    <li><a href="{{ "q-api-doc/"  | relative_url }}">Full documentation</a></li>
    <li><a href="{{ "contributed-links/"  | relative_url }}">Community contributions</a></li>
    <li><a href="{{ "script-examples/"  | relative_url }}">API examples</a></li>
    <li><a href="https://qforum.daskeyboard.com">Developer forum</a></li>
  </ul>

  <li class="sidebar-title">Q software updates</li>
  <ul class="sidebar-items">
    <li><a href="{{ "updates/1.0.0-beta.43/"  | relative_url }}">1.0.0 Beta.43</a></li>
    <li><a href="{{ "updates/1.0.0-beta.37/"  | relative_url }}">1.0.0 Beta.37</a></li>
    <li><a href="{{ "updates/1.0.0-beta.35/"  | relative_url }}">1.0.0 Beta.35</a></li>
    <li><a href="{{ "updates/1.0.0-beta.31/"  | relative_url }}">1.0.0 Beta.31</a></li>
    <li><a href="{{ "updates/1.0.0-beta.30/"  | relative_url }}">1.0.0 Beta.30</a></li>
    <li><a href="{{ "updates/1.0.0-beta.29/"  | relative_url }}">1.0.0 Beta.29</a></li>
    <li><a href="{{ "updates/1.0.0-beta.28/"  | relative_url }}">1.0.0 Beta.28</a></li>
  </ul>
</ul>
