$tab-accent-color: $brand-color;

.code {
  position: relative;
}

.code-response {
  padding: 20px;
  background-color: rgba(92,184,92,0.5);
  border-radius: 20px;
}

.code a {
  position: absolute;
  top: 5px;
  right: 10px;
  color: $tab-accent-color !important;
}

.code a:hover {
  color: black !important;
}

.json-code .key {
  color: red;
}

.json-code .string{
  color: green;
}

.code-nav-tabs {
  margin-left: 0px;
}