$tab-accent-color: $brand-color;

.code {
  position: relative;
}

.code a {
  position: absolute;
  top: 5px;
  right: 10px;
  color: $tab-accent-color !important;
}

.code a:hover {
  color: black !important;
}


.code-nav-tabs {
  margin-left: 0px;
  font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.code-nav-tabs a{
  color: $tab-accent-color;
}

.code-nav-tabs + .tab-content {
  border: 1px solid $tab-accent-color 
}


.login-code-button {
  color: #00aeff;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.login-code-button:hover {
  color: #00aeff;
  text-decoration: underline;
}

.code pre {
  margin-top: 0;
  margin-bottom: 0;
}

// css for the cloud or local collapsing tabs


.cloud-or-local-tab-content {
  position: relative;
}

.cloud-or-local-nav{
  position: absolute;
  top: 50px;
  right: 34px;
  z-index: 1;
  border: 0px;
}

.cloud-or-local-nav .nav-link {
  border: none;
  padding: 0px;
  margin-right: 10px;
}

.cloud-or-local-nav a.active span{
  background-color: $brand-color;
}

.cloud-or-local-nav a:hover{
  background-color: transparent !important;
}

.cloud-or-local-nav a.active {
  background-color: transparent !important;
}

.code-nav-tabs + .tab-content {
  background-color: #f5f2f0;
}

  



// end of css for the cloud or local collapsing tabs