#side-nav-container {
    position: fixed;
    top: 56px;
    left: 0;
    width: 250px;
    overflow-y: auto;
    height: calc(90%);
    background: $background-color;
    border-right: 1px solid #cacaca;
}

.main-contents {
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    padding-top: 40px;
    /* matches sidenav padding */
}

.main-contents-body {
    width: $content-width;
}

#mysidebar {

    margin: 40px 0 40px 0;

    ul {
        margin-left: 0;
        list-style: none;
        padding-left: 0;
    }

    li.sidebar-title {
        color: #424242;
        font-size: 20px;
    }

    ul.sidebar-items {
        margin-bottom: 16px;

        i.fa {
            opacity: 0.5;
        }
    }
}

#overlay-under-drawer {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

@media screen and (max-width:767px) {

    #side-nav-container {
        position: relative;
    }

    .main-contents {
        margin-left: inherit;
        width: inherit;
    }

    .site-footer {
        margin-left: inherit;
        width: inherit;
    }

    #sidebar-toggle-button {
        display: inline !important;
    }

    #mysidebar {
        left: -100%;
        position: fixed;
        -webkit-transition: left .5s ease-out;
        transition: left .5s ease-out;
        z-index: 2000;
        top: 0;
        width: 280px;
        /* works all the way down to an iphone 4 */
        height: 100%;
        background: white;
        overflow-y: auto;
        /* TODO: how to hide scroll bars? */
    }

    #mysidebar.active {
        left: 0;
        /* this animates our drawer into the page */
        padding: 24px;
        margin-top: 0;
    }

    #overlay-under-drawer.active {
        opacity: 0.6;
        height: 100%;
        width: 100%;
        z-index: 1999;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background-color: black;
        display: block;
    }

}

.collapsing-link {
    color: $brand-color !important;
}

.collapsing-link:hover {
    color: black !important;
}

.collapsing-link {
    position: relative;
}

.collapsing-link i {
    position: absolute;
    right: -123px;
    bottom: 3px;
    color: $brand-color;
    display: none;
}


.collapsing-link .fa-angle-down {
    display: block;
}

.collapsing-link .fa-angle-left {
    display: none;
}

.collapsing-link.collapsed .fa-angle-left {
    display: block;
}

.collapsing-link.collapsed .fa-angle-down {
    display: none
}

#mysidebar {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

@media screen and (max-width:970px) {

    .sidebar-items .badge {
        display: none;
    }
}