<table class="table table-bordered resource-description-table">
  <thead>
    <tr>
      <th scope="col">Field</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">id</th>
      <td>
        <span class="type">integer</span>
        <span class="example">1</span>
        <p class="description read-only">Unique ID of the signal</p>
        <p class="note text-muted" >Signals created via localhost have negative ids</p>

      </td>
    </tr>

    <tr>
      <th scope="row">name</th>
      <td>
        <span class="type">string</span>
        <span class="example">'Apple Stock increase'</span>
        <p class="description">Name of the Signal</p>
      </td>
    </tr>

    <tr>
      <th scope="row">message</th>
      <td>
        <span class="type">string</span>
        <span class="example">'Lucky you! Apple stock is greater than $500'</span>
        <p class="description">Message of the Signal</p>
      </td>
    </tr>

    <tr>
      <th scope="row">zoneId</th>
      <td>
        <span class="type">string</span>
        <span class="example">'KEY_Q'</span>
        <span class="example">'74'</span>
        <span class="example">'2,2'</span>
        <p class="description">Specify the id of the zone targeted by the Signal 
          <a href="{{ "q-zone-id-explanation"  | relative_url }}">more about zoneId</a></p>
      </td>
    </tr>

    <tr>
      <th scope="row">color</th>
      <td>
        <span class="type">string</span>
        <span class="example">'#FF0000'</span>
        <p class="description">Color of the Signal - has to begin by the character ‘#’ and be followed by 3 or 6 hexadecimal
          digits
        </p>
      </td>
    </tr>

    <tr>
      <th scope="row">effect</th>
      <td>
        <span class="type">string</span>
        <span class="example">'SET_COLOR'</span>
        <p class="description">Effect of the Signal</p>
      </td>
    </tr>

    <tr>
      <th scope="row">pid</th>
      <td>
        <span class="type">string</span>
        <span class="example">'DK5QPID'</span>
        <p class="description">Pid of the device targeted by the signal</p>
      </td>
    </tr>

    <tr>
      <th scope="row">isArchived</th>
      <td>
        <span class="type">boolean</span>
        <span class="example">false</span>
        <p class="description">Indicates if the Signal has been archived </p>
      </td>
    </tr>

    <tr>
      <th scope="row">isRead</th>
      <td>
        <span class="type">boolean</span>
        <span class="example">false</span>
        <p class="description">Indicates if the Signal has been read</p>
      </td>
    </tr>

    <tr>
      <th scope="row">isMuted</th>
      <td>
        <span class="type">boolean</span>
        <span class="example">false</span>
        <p class="description"
          style="color: orange">Not implemented yet</p>
      </td>
    </tr>

    <tr>
      <th scope="row">userId</th>
      <td>
        <span class="type">integer</span>
        <span class="example">9</span>
        <p class="description read-only">Globally unique ID of the user that created the signal.</p>
      </td>
    </tr>

    <tr>
      <th scope="row">clientName</th>
      <td>
        <span class="type">string</span>
        <span class="example">'Local Node Script'</span>
        <span class="example">'Zapier'</span>
        <span class="example">'Ifttt'</span>
        <p class="description">Describes the client that created the signal</p>
      </td>
    </tr>

    <tr>
      <th scope="row">createdAt</th>
      <td>
        <span class="type">timestamp</span>
        <span class="example">1531946199392</span>
        <p class="description read-only">The time at which the signal was created.</p>
      </td>
    </tr>

    <tr>
      <th scope="row">updatedAt</th>
      <td>
        <span class="type">timestamp</span>
        <span class="example">1531946199392</span>
        <p class="description read-only">The time at which the signal was last modified.</p>
      </td>
    </tr>


  </tbody>
</table>