<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    {% if page.url == '/'%}  <body class="homepage">{% endif %}
    {% comment %} Baseurl of the Page on Github {% endcomment %}
    {% if page.url == '/Daskeyboard.io/'%}  <body class="homepage">{% endif %}

    <div id="overlay-under-drawer"><!-- for the drawer on narrow screens --></div>
    {% include header.html %}

    <!-- Page Content -->
    <div class="container-fluid contents">
      <!-- Content Row -->
      <div class="row">

        <!-- Sidebar Column -->
        <div id="side-nav-container" class="col-sm-3">
          {% include sidebar.html %}
        </div>

        {% if page.url == '/' %}
        {% comment %} Homepage {% endcomment %}

        <!-- Homepage Content Column -->
        <div class="col-sm-12 main-contents">
          <div class="main-contents-body">
              {% include flash_notice.html%}
              {{content}}
          </div>
        </div>

        {% else %}
        {% comment %} Regular page, not homepage {% endcomment %}

        <!-- Content Column -->
        <div class="col-sm-9 main-contents">
          <div class="main-contents-body">
            {% include flash_notice.html%}
            {{content}}
          </div>
        </div>

        {% endif %}

      </div> <!-- /.row -->
    </div> <!-- /.container -->

    {% include footer.html %}

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ "js/jquery.min.js" | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ "js/js-bootstrap/bootstrap.min.js"  | relative_url }}"></script>
    <script src="{{ "js/prism.js" | relative_url }}"></script>
    <script src="{{ "js/tabs.js" | relative_url }}"></script>
    <script src="{{ "js/main.js" | relative_url }}"></script>
    <script src="{{ "js/code-tabs.js" | relative_url }}"></script>
    <script src="{{ "js/sidebar_toggle.js"  | relative_url }}"></script>
  </body>
</html>
